// Brand Blue
$microfocus-primary: #0073e7;

// IAM Colors
$iam-blue-1: #0067ad; // darkest blue
$iam-blue-2: #007cd0; // Primary blue
$iam-blue-3: #0090da; // medium blue
$iam-blue-4: #01a9e7; // Secondary blue
$iam-blue-5: #29ceff; // light blue
$iam-blue-6: #e4f9ff; // lightest blue

// IAM Monochromatic Palette
$iam-white: #ffffff;
$iam-light-gray: #f6f9f8;
$iam-panel-gray: #eef2f2;
$iam-border-gray: #dae1e1;
$iam-gray: #bdbec0;
$iam-medium-gray: #808080;
$iam-icon-gray: #656668;
$iam-dim-gray: #656668;
$iam-dark-gray: #434c50;
$iam-darker-gray: #1f1f1f;
$iam-black: #000000;

// IAM Accent Color Palette
$color-accent-1: #ffd92d;
$color-accent-2: #fff6ce;
$color-accent-3: #f17e12;
$color-accent-4: #e50000;
$color-accent-5: #37c26a;
$color-accent-6: #e4f9ff;

$disabled-opacity: 0.4;

$iam-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
