<div class="ias-page-header">
    <div class="ias-header-bar">
        <div class="ias-header-bar_logo">
            <img src="/ias-icons/assets/images/IAS_UX_100.png" width="50" height="50">
        </div>
        <div class="ias-header-bar_title">IAS Icons</div>
    </div>
</div>
<div class="ias-page-content">
    <div class="action-bar">
        <div class="iam-search">
            <span class="ias-icon ias-icon-search_thick"></span>
            <input class="form-control iam-input" type="text" placeholder="Search"
                [formControl]="searchFormControl">
            <button type="button" class="btn btn-link btn-icon btn-primary iam-btn"
                (click)="onClearSearchClicked()">
                <i class="ias-icon ias-icon-close_thick" aria-hidden="true"></i>
            </button>
        </div>
        <div class="flex-spacer"></div>
        <button type="button" class="btn btn-link btn-icon btn-primary iam-btn"
            (click)="onTileViewClicked()">
            <i class="ias-icon ias-icon-view_tile_thin" aria-hidden="true"
                [ngClass]="{'ias-icon-color-blue': !showDetailedList}"></i>
        </button>
        <button type="button" class="btn btn-link btn-icon btn-primary iam-btn"
            (click)="onListViewClicked()">
            <i class="ias-icon ias-icon-view_list_thin" aria-hidden="true"
                [ngClass]="{'ias-icon-color-blue': showDetailedList}"></i>
        </button>
    </div>
    <div class="icon-count">Number of icons: {{iconInfoList.value.length}}</div>
    <app-detailed-list *ngIf="showDetailedList" [iconInfoList$]="iconInfoList"></app-detailed-list>
    <app-tiled-list *ngIf="!showDetailedList" [iconInfoList$]="iconInfoList"></app-tiled-list>
</div>
