<ux-notification-list direction="above" position="top-right"></ux-notification-list>
<div *ngFor="let iconInfo of (iconInfoList$ | async)" class="ias-tile"
    (click)="showDialog(modal, iconInfo.className, iconInfo.name, iconInfo.glyph, iconInfo.uses, iconInfo.notes)">
    <i class="ias-icon {{iconInfo.className}}" aria-hidden="true"></i>
    <div class="ias-tile-content">
        <div class="icon-name">{{iconInfo.name}}</div>
        <div class="icon-code">"{{iconInfo.glyph}}"</div>
    </div>
</div>

<ng-template #notification let-notificationRef let-data="data">
    <div class="copy-notification">
        <span class="ias-icon ias-icon-check_thick"></span>
        <span class="notification-description">
            {{ data.description }}
        </span>

        <button class="dismiss-notification" tabindex="0" aria-label="Dismiss Notification"
            (click)="notificationService.dismiss(notificationRef)">
            <span class="ias-icon ias-icon-close_thick"></span>
        </button>
    </div>
</ng-template>

<ng-template #modal>
    <div class="modal-header">
        <i class="ias-icon" aria-hidden="true" [ngClass]="className"></i>
        <span class="modal-icon-name">{{iconName}}</span>
        <div class="flex-spacer"></div>
        <button type="button" class="btn iam-btn btn-link btn-icon btn-primary btn-close" (click)="modalRef.hide()">
            <span class="ias-icon ias-icon-close_thick" aria-hidden="true"></span>
        </button>
    </div>
    <div class="modal-body">
        <div class="icon-usage">
            <div>
                <span class="modal-body-subtitle">Usage:</span>
            </div>
            <div class="icon-uses">
                <span>{{iconUses}}</span>
                <div class="flex-spacer"></div>
                <span>{{iconNotes}}</span>
            </div>
        </div>

        <span class="modal-body-subtitle">HTML Example:</span>
        <pre
            class="language-markup"><code class="language-markup">&lt;i class=&quot;ias-icon {{className}}&quot; aria-hidden=&quot;true&quot;&gt;&lt;/i&gt;</code></pre>
        <span class="modal-body-subtitle">CSS Example:</span>
        <pre class="language-css"><code class="language-css">.{{className}}:before &#123;
    content: &quot;{{iconGlyph}}&quot;&#59;
&#125;</code></pre>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn iam-btn btn-default" (click)="copyClassName(notification)">Copy Class
            Name</button>
        <button type="button" class="btn iam-btn btn-default" (click)="downloadIconSVG()">Download SVG
            File</button>
    </div>
</ng-template>
