angular.module('app')
    .constant('ICONS', [
<% _.each(glyphs, function(glyph) { %>
        {
            name: '<%= glyph.name %>',
            glyph: '\\<%= glyph.unicode.toString(16).toUpperCase() %>',
            className: '<%= cssClass %>-<%= glyph.name %>'
        },
<% }) %>
    ]);
