body, input {
    margin: 0;
}
ias-tile.ias-large > .ias-tile-content > ias-icon {
    font-size: 80px;
}
ias-tile.ias-medium > .ias-tile-content > .ias-tile-body > h3 {
    font-size: 12px;
}
ias-tile.ias-medium {
    height: 72px;
    width: 240px;
}
ias-header ias-input-container {
    margin-bottom: 0;

}
.ias-header-sub-title {
    margin-top: 1em;
}

