@import "../dist/generated-font/dist/ias-icons.css";
@import "./scss/ias-styles/ias-all";
// @import "~prismjs/plugins/toolbar/prism-toolbar.css";
@import "~prismjs/themes/prism";

body {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
